
/*
Reset 
*/

* {
  padding: 0;
  margin: 0;
}

:root {

  /*
  Variables
  */

  /*
  Typography
  */
  --f-barlow-c: 'Barlow Condensed', sans-serif;
  --f-barlow-n: 'Barlow', sans-serif;
  --f-bellefair: 'Bellefair', serif;
  
  /*
  Colors
  */
  --c-blue-dark: hsl(230, 35%, 7%);
  --c-blue-light: hsl(231, 77%, 90%);
  --c-white-normal: hsl(0, 0%, 100%);
  --c-gray: hsl(0, 0%, 59%, 0.3);

  --nav-height: 7rem;

  font-size: 62.5%;

}

/* 
Mobile version* width-min: 375px
/* 
Headings and subheadings 
*/

h1, 
h2 {
  font-family: var(--f-bellefair);
  font-weight: 400;
  text-transform: uppercase; 
  color: var(--c-white-normal);
}

h1 {
  font-size: 2.4rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.84rem;
}

h3 {
  font-size: 5.6rem;
  line-height: 6.418rem;
}

h4 {
  font-size: 3.2rem;
  color: var(--c-blue-light);
}


ul {
  list-style: none;
}

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}


.nav-text {
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: var(--c-blue-light);
}

/*
Body
*/

body {
  width: 100vw;
  font-family: var(--f-barlow-n);
  font-size: 1.5rem;    
  line-height: 2.5rem;
  color: var(--c-blue-light);
  
}

html {
  min-height: 100%;
  background-color: var(--c-blue-dark);
  background-image: url(/assets/img/bg-crew.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

/*
Display none
*/

section #menu {
  visibility: hidden;
  overflow: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 32%;

  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  width: 100vw;
  height: 100vh;
}

.open-menu {
  visibility: visible;
}

body.menu-expanded section #menu {
  visibility: visible;
  overflow: hidden;
  position: absolute;
  
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  width: 100vw;
  height: 100vh;
}

body.menu-expanded #menu ul {
  position: absolute;
  
  height: 100vh;
  width: 100vw;
  transition: all .5s ease-in-out;
  margin-left: 16px;
  transform: translateX(100);
}

body.menu-expanded .open-menu {
  display: none;
}

#menu {
  display: flex;
}

#menu ul {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--c-white-normal);
  line-height: 1.92rem;
  letter-spacing: 2.7px;
  padding-top: 11.8rem;
  padding-left: 3.2rem;
}

ul li a {
  display: flex;
  gap: 1.1rem;
}

.menu-buttons .close-menu, .open-menu {
  position: fixed;
  left: 50%;
  margin-top: 3.2rem;
}

#menu-item {
  font-weight: bold;
}

/*
General container
*/
section {
  margin-inline: 2.4rem;
}

/*
Header and navigation section
*/
header  {
  width: 100vw;
  position: fixed;
  top: 0;
  height: var(--nav-height);
  padding-top: 2.4rem;
}

nav {
 display: flex; 
 justify-content: space-between;
}

/*
Main section
*/

main {
  margin-top: calc(var(--nav-height) + 4.2rem);
  text-align: center;
  margin-bottom: 8.1rem;
}

.nav-text {
  margin-bottom: 3.2rem;
}

main ul {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#header-crew-datails {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

#crew-menu {
  margin-top: 3.2rem;
}

#crew-image img {
  width: 327px;
  border-bottom: 1px solid var(--c-gray);
}

#crew-menu button {
  background: var(--c-gray);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

#crew-menu button:hover {
  cursor: pointer;
  background-color: var(--c-white-normal);
}