
/*
Reset 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  /*
  Variables
  */

  /*
  Typography
  */
  --f-barlow-c: 'Barlow Condensed', sans-serif;
  --f-barlow-n: 'Barlow', sans-serif;
  --f-bellefair: 'Bellefair', serif;
  
  /*
  Colors
  */
  --c-blue-dark: hsl(230, 35%, 7%);
  --c-blue-light: hsl(231, 77%, 90%);
  --c-white-normal: hsl(0, 0%, 100%);
  --c-gray: hsl(0, 0%, 59%, 0.3);

  --nav-height-mobile: 8.8rem;
  --nav-height-tablet: 9.6rem;
  --nav-height-desktop: 17.6rem;

  font-size: 62.5%;

}

/* 
Mobile version* width-min: 375px
/* 
Headings and subheadings 
*/

h1, 
h2 {
  font-family: var(--f-bellefair);
  font-weight: 400;
  text-transform: uppercase; 
  color: var(--c-white-normal);
}

h1 {
  font-size: 2.4rem;
  line-height: 2.75rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.84rem;
}

h3 {
  font-size: 5.6rem;
  line-height: 6.418rem;
}

h4 {
  font-size: 3.2rem;
  color: var(--c-blue-light);
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.nav-text {
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: var(--c-blue-light);
}

/*
Body
*/

body {
  width: 100vw;
  font-family: var(--f-barlow-n);
  font-size: 1.5rem;    
  line-height: 2.5rem;
  color: var(--c-blue-light);
  
}

html {
  min-height: 100%;
  background-color: var(--c-blue-dark);
  background-image: url(/assets/img/bg-crew.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*
Display none
*/

.close-menu, #navbar hr {
  visibility: hidden;
  position: absolute;
}

section #menu {
  visibility: hidden;
  overflow: hidden;
  top: 0;
  
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  width: 100vw;
  height: 100vh;
}

body.menu-expanded section #menu {
  position: absolute;
  margin-left: 32%;
  visibility: visible;
  overflow: hidden;
  
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  width: 100vw;
  height: 100vh;
}

body.menu-expanded #menu ul {
  height: 100vh;
  width: 100vw;
  transition: all .5s ease-in-out;
  margin-left: 16px;
  transform: translateX(100);
}

body.menu-expanded .open-menu {
  visibility: hidden;
}

body.menu-expanded .close-menu {
  visibility: visible;
}

#menu ul {
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--c-white-normal);
  line-height: 1.92rem;
  letter-spacing: 2.7px;
  padding-top: 11.8rem;
  padding-left: 3.2rem;
}

ul li a {
  display: flex;
  gap: 1.1rem;
  margin-bottom: 3.2rem;
}

.menu-buttons {
  display: flex;
  align-items: center;
}

.menu-buttons .close-menu, .open-menu {
  position: absolute;
  right: 2.4rem;
}

#menu-item {
  font-weight: bold;
}

/*
General container
*/
section {
  margin-inline: 2.4rem;
}

/*
Header and navigation section
*/
header  {
  width: 100vw;
  position: fixed;
  top: 0;   
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--nav-height-mobile);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
Main section
*/

main {
  margin-top: calc(var(--nav-height-mobile) + 4.2rem);
  text-align: center;
  margin-bottom: 8.1rem;
}

.nav-text {
  margin-bottom: 3.2rem;
}

main ul {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#header-crew-datails {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

#crew-menu {
  margin-top: 3.2rem;
}

#crew-image img {
  width: 177px;
  border-bottom: 1px solid var(--c-gray);
}

#crew-menu button {
  background: var(--c-gray);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

#crew-menu button:hover {
  cursor: pointer;
  background-color: var(--c-white-normal);
}

@media (min-width: 768px) {
  header * {
      height: initial;
      width: initial;
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-size: initial;
      font-weight: initial;
      transform: initial;
      color: inherit;
      background-color: initial;
      filter: initial;
    }
  
  h1 {
      font-size: 4rem;
      line-height: 4.6rem;
  }
  
  .nav-text {
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: 3.38px;
      text-align: left;
      margin-bottom: 0;
  }

  #navbar .logo {
      margin-top: 2.4rem;
      margin-left: 3.9rem;
      margin-right: 23.1rem;
  }

  section #menu {
      visibility: visible;
      display: flex;
      align-items: center;
      height: var(--nav-height-tablet);
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(1px); 
  }

  section {
    margin-inline: 0;
  }
  
  section #menu .menu-itens {
      margin-inline: auto;
      
  }
  section #menu .menu-itens ul {
      display: flex;
      gap: 1.5rem;
  }
  section #menu .menu-itens ul li a {
      display: inline;
  }
  
  section #menu .menu-itens ul li p {
      font-size: 1.4rem;
      line-height: 16.8px;
      letter-spacing: 2.36px;
  }

  #menu-item, #navbar hr {
      visibility: hidden;
  }

  #menu ul {
      padding: 0;
  }

  .logo svg {
      width: 4.8rem;
      height: 4.8rem;
  }

  main {
    margin-bottom: 0;
  }

  #crew {
    display: grid;
    grid-template-areas: 
    "A"
    "B"
    "C"
    "D";
    margin-top: calc(var(--nav-height-tablet) + 4rem);
  }

  #crew-header {
    grid-area: A;
    margin-bottom: 6rem;
  }

  #crew-details {
    grid-area: B;
    margin-inline: 15.5rem;
  }

  #crew-menu {
    grid-area: C;
  }

  #crew-image {
    grid-area: D;
  }

  #crew-image img {
    width: 450px;
    border: none;
  }

  #crew-header {
    margin-left: 3.85rem;
  }

}

@media (min-width: 1440px) {
  header * {
      height: initial;
      width: initial;
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-size: initial;
      font-weight: initial;
      transform: initial;
      color: inherit;
      background-color: initial;
      filter: initial;
    }

    header,
    #navigation, #navbar {
      height: var(--nav-height-desktop);
    }

    header {
      padding-left: 5.5rem;
    }

    #navbar hr {
      visibility: visible;
      border: none;
      height: 1px;
      background-color: var(--c-white-normal);
      width: 47.3rem;
      position: absolute;
      opacity: .5;
      margin-left: 11.2rem;
    }

    h1 {
      font-size: 5.6rem;
      line-height: 6.5rem;
    }

    h2 {
      font-size: 3.2rem;
      line-height: 3.7rem;
    }
  
  .nav-text {
      font-size: 2.8rem;
      line-height: 3.4rem;
      letter-spacing: 4.72px;
  }

  #navbar .logo {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-right: 50.7rem;

  }

  section {
    margin-inline: 0;
    padding: 0;
  }

  section #menu {
      visibility: visible;
      height: var(--nav-height-tablet);
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(81.5485px);
  }
  
  section #menu .menu-itens {
      margin-inline: auto;
      
  }
  section #menu .menu-itens ul {
      display: flex;
      gap: 3.7rem;
      
  }
  section #menu .menu-itens ul li a {
      display: inline;
  }
  
  section #menu .menu-itens ul li p {
      font-size: 1.6rem;
      line-height: 19.2px;
      letter-spacing: 2.7px;
  }

  #menu-item {
      visibility: visible;
  }

  #menu ul {
      padding: 0;
  }

  .logo svg {
      width: 4.8rem;
      height: 4.8rem;
  }

  #crew {
    display: grid;
    grid-template-areas: 
    "A D"
    "B D"
    "C D";
    margin-left: 16.65rem;
  }

  #crew-header {
    grid-area: A;
  }

  #crew-details {
    grid-area: B;
    margin: 0;
  }
  
  #crew-menu {
    grid-area: C;
  }

  #crew-image {
    grid-area: D;
  }

  section #crew-header {
    margin: 0;
  }

  #crew-image img {
    width: 570px;
    margin-left: 8.1rem;
    margin-right: 13.7rem;
  }

  #crew-menu ul {
    justify-content: left;
  }

  main {
    margin-top: calc(var(--nav-height-desktop) + 3.6rem);
    text-align: left;
  }

}