
/*
Reset 
*/

* {
  padding: 0;
  margin: 0;
}

:root {

  /*
  Variables
  */

  /*
  Typography
  */
  --f-barlow-c: 'Barlow Condensed', sans-serif;
  --f-barlow-n: 'Barlow', sans-serif;
  --f-bellefair: 'Bellefair', serif;
  
  /*
  Colors
  */
  --c-blue-dark: hsl(230, 35%, 7%);
  --c-blue-light: hsl(231, 77%, 90%);
  --c-white-normal: hsl(0, 0%, 100%);
  --c-gray: hsl(0, 0%, 59%);

  --nav-height: 7rem;

  font-size: 62.5%;

}

/* 
Mobile version* width-min: 375px
/* 
Headings and subheadings 
*/

h1 {
  font-family: var(--f-bellefair);
  font-weight: 400;
  text-transform: uppercase; 
  color: var(--c-white-normal);
}

h1 {
  font-size: 2.4rem;
  line-height: 2.75rem;
}

h2 {
  font-family: var(--f-barlow-c);
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.68rem;
  letter-spacing: 2.36px;
  color: var(--c-blue-light);
}

h3 {
  font-size: 5.6rem;
  line-height: 6.418rem;
}

h4 {
  font-size: 3.2rem;
  color: var(--c-blue-light);
}

p {
  font-family: var(--f-barlow-n);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--c-blue-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


.nav-text {
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: var(--c-blue-light);
}

/*
Body
*/

body {
  width: 100vw;
  font-family: var(--f-barlow-n);
  font-size: 1.5rem;    
  line-height: 2.5rem;
  color: var(--c-blue-light);
  
}

html {
  min-height: 100%;
  background-color: var(--c-blue-dark);
  background-image: url(/assets/img/bg-technology.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  background-color: transparent;
  border: none;
}

/*
Display none
*/

#menu {
  display: none;
}

/*
General container
*/
section {
  margin-inline: 2.4rem;
}

/*
Header and navigation section
*/
#nav-header  {
  width: 100vw;
  position: fixed;
  top: 0;
  height: var(--nav-height);
  padding-top: 2.4rem;
}

nav {
 display: flex; 
 justify-content: space-between;
}

/*
Main section
*/

main {
  margin-top: calc(var(--nav-height) + 4.2rem);
  text-align: center;
  margin-bottom: 8.1rem;
}

.nav-text {
  margin-bottom: 3.2rem;
}

main ul {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#header-technology-datails {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

#technology-menu {
  margin-top: 3.2rem;
}

#technology-image img {
  width: 327px;
  border-bottom: 1px solid var(--c-gray);
}

#technology-menu button {
  font-family: var(--f-bellefair);
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: var(--c-white-normal);
  border: 1px solid hsl(0, 0%, 100%, 0.3);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

#technology-menu button:hover {
  cursor: pointer;
  background-color: var(--c-white-normal);
  opacity: 1;
  color: var(--c-blue-dark);
}