
/*
Reset 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  /*
  Variables
  */

  /*
  Typography
  */
  --f-barlow-c: 'Barlow Condensed', sans-serif;
  --f-barlow-n: 'Barlow', sans-serif;
  --f-bellefair: 'Bellefair', serif;
  
  /*
  Colors
  */
  --c-blue-dark: hsl(230, 35%, 7%);
  --c-blue-light: hsl(231, 77%, 90%);
  --c-white-normal: hsl(0, 0%, 100%);
  --c-gray: hsl(0, 0%, 59%);

  --nav-height-mobile: 8.8rem;
  --nav-height-tablet: 9.6rem;
  --nav-height-desktop: 17.6rem;

  font-size: 62.5%;

}

/* 
Mobile version* width-min: 375px
/* 
Headings and subheadings 
*/

h1 {
  font-family: var(--f-bellefair);
  font-weight: 400;
  text-transform: uppercase; 
  color: var(--c-white-normal);
  font-size: 2.4rem;
  line-height: 2.75rem;
}

h2 {
  font-family: var(--f-barlow-c);
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.68rem;
  letter-spacing: 2.36px;
  color: var(--c-blue-light);
}

h3 {
  font-size: 5.6rem;
  line-height: 6.418rem;
}

h4 {
  font-size: 3.2rem;
  color: var(--c-blue-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-text {
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: var(--c-blue-light);
}

/*
Body
*/

body {
  width: 100vw;
  font-family: var(--f-barlow-n);
  font-size: 1.5rem;    
  line-height: 2.5rem;
  color: var(--c-blue-light);
}

html {
  min-height: 100%;
  background-color: var(--c-blue-dark);
  background-image: url(/assets/img/bg-technology.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*
Display none
*/

.close-menu, #navbar hr {
  visibility: hidden;
  position: absolute;
}

section #menu {
  visibility: hidden;
  overflow: hidden;
  top: 0;
  
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  width: 100vw;
  height: 100vh;
}

body.menu-expanded section #menu {
  position: absolute;
  margin-left: 32%;
  visibility: visible;
  overflow: hidden;
  
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  width: 100vw;
  height: 100vh;
}

body.menu-expanded #menu ul {
  height: 100vh;
  width: 100vw;
  transition: all .5s ease-in-out;
  margin-left: 16px;
  transform: translateX(100);
}

body.menu-expanded .open-menu {
  visibility: hidden;
}

body.menu-expanded .close-menu {
  visibility: visible;
}

#menu ul {
  font-family: var(--f-barlow-c);
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--c-white-normal);
  line-height: 1.92rem;
  letter-spacing: 2.7px;
  padding-top: 11.8rem;
  padding-left: 3.2rem;
}

ul li a {
  display: flex;
  gap: 1.1rem;
  margin-bottom: 3.2rem;
}

.menu-buttons {
  display: flex;
  align-items: center;
}

.menu-buttons .close-menu, .open-menu {
  position: absolute;
  right: 2.4rem;
}

#menu-item {
  font-weight: bold;
}

/*
General container
*/

/*
Header and navigation section
*/

header  {
  width: 100vw;
  position: fixed;
  top: 0;
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--nav-height-mobile);
  margin-inline: 2.4rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
Main section
*/

main {
  margin-top: calc(var(--nav-height-mobile) + 4.2rem);
  text-align: center;
  margin-bottom: 8.1rem;
}

.nav-text {
  margin-bottom: 3.2rem;
}

main ul {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  margin-bottom: 2rem;
}

#technology {
  margin-inline: 0;
}

#header-technology-datails {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-bottom: 1.6rem;
}

#technology-menu {
  margin-top: 3.4rem;
  margin-bottom: 2.6rem;
}

#technology-image img {
  width: 100%;
}

#technology-menu button {
  font-family: var(--f-bellefair);
  font-size: 1.6rem;
  line-height: 1.84rem;
  color: var(--c-white-normal);
  border: 1px solid hsl(0, 0%, 100%, 0.3);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

#technology-menu button:hover {
  cursor: pointer;
  background-color: var(--c-white-normal);
  opacity: 1;
  color: var(--c-blue-dark);
}

#technology-details {
  margin-inline: 2.4rem;
}

@media (min-width: 768px) {
  header * {
      height: initial;
      width: initial;
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-size: initial;
      font-weight: initial;
      transform: initial;
      color: inherit;
      background-color: initial;
      filter: initial;
    }
  
  h1 {
      font-size: 4rem;
      line-height: 4.6rem;
      margin-block: 1.6rem;
  }

  h2 {
    font-size: 1.6rem;
    line-height: 1.92rem;
    letter-spacing: 2.7px;
  }
  
  .nav-text {
      font-size: 2rem;
      line-height: 2.4rem;
      letter-spacing: 3.38px;
      text-align: left;
      margin-bottom: 0;
  }

  #navigation {
    margin-inline: 0;
  }

  #navbar .logo {
      margin-top: 2.4rem;
      margin-left: 3.9rem;
      margin-right: 23.1rem;
  }

  section #menu {
      visibility: visible;
      display: flex;
      align-items: center;
      height: var(--nav-height-tablet);
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(1px); 
  }

  section {
    margin-inline: 0;
  }
  
  section #menu .menu-itens {
      margin-inline: auto;
      
  }
  section #menu .menu-itens ul {
      display: flex;
      gap: 1.5rem;
  }
  section #menu .menu-itens ul li a {
      display: inline;
  }
  
  section #menu .menu-itens ul li p {
      font-size: 1.4rem;
      line-height: 16.8px;
      letter-spacing: 2.36px;
  }

  #menu-item, #navbar hr {
      visibility: hidden;
  }

  #menu ul {
      padding: 0;
  }

  .logo svg {
      width: 4.8rem;
      height: 4.8rem;
  }

  main {
    margin-bottom: 0;
  }

  #technology {
    margin-top: calc(var(--nav-height-tablet) + 4rem);
  }

  #technology-header {
    margin-inline: 3.85rem;
    margin-bottom: 6rem;
  }

  #technology-menu {
    margin-top: 5.6rem;
    margin-bottom: 4.4rem;
  }

  #technology-details {
    margin-inline: 15.5rem;
    padding-bottom: 9.7rem;
  }

  #technology-details p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}